body {
    background-color: rgb(18, 55, 82);
    color: rgb(112, 142, 164);
    font: 'Raleway', sans-serif;
    text-align: center;
    letter-spacing: .2rem;
    display: flex;
    justify-content: center;
    align-content: center;
}
  
h1 {
    text-transform: uppercase;
    letter-spacing: .5rem;
    font-weight: bold;
}

h2 {
    color: rgb(160, 202, 232);
    letter-spacing: .3rem;
}
  
#enterNumber,
#enterName{
    display: inline-block;
    background-color: rgb(112, 142, 164);
    color: rgb(18, 55, 82);
    letter-spacing: .1rem;
    border-radius: 4px;
    border: 2px solid rgb(72, 109, 136);
}
  
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgb(18, 55, 82);
    opacity: 1; /* Firefox */
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: rgb(18, 55, 82);
}
::-ms-input-placeholder { /* Microsoft Edge */
    color: rgb(18, 55, 82);
}
  
#enterBtn {
    background-color: rgb(112, 142, 164);
    color: rgb(18, 55, 82);
    letter-spacing: .2rem;
    border-radius: 4px;
    border: 2px solid rgb(112, 142, 164);
}